@model IEnumerable<Microsoft.AspNet.Membership.OpenAuth.ProviderDetails>

@if (!Model.Any())
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Log in using another service</legend>
        <p>
        @foreach (Microsoft.AspNet.Membership.OpenAuth.ProviderDetails p in Model)
        {
            <button type="submit" name="provider" value="@p.ProviderName" title="Log in using your @p.ProviderDisplayName account">@p.ProviderDisplayName</button>
        }
        </p>
    </fieldset>
    }
}
