<h2>About Us</h2>

<ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">About Us</li>
</ul>

<div class="row">
    <article class="col col-lg-9">
        <h3>Content</h3>
        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>

        <p>
            Use this area to provide additional information.
        </p>
    </article>

    <aside class="col col-lg-3">
        <h3>Aside Title</h3>
        <p>
            Use this area to provide additional information.
        </p>
        <ul class="list-unstyled">
            <li><a href="~/">Home</a></li>
            <li><a href="~/about">About</a></li>
            <li><a href="~/contacts">Contacts</a></li>
        </ul>
    </aside>
</div>
