<h2>Contacts</h2>

<ul class="breadcrumb">
    <li><a href="~/">Home</a></li>
    <li class="active">Contacts</li>
</ul>

<div class="row">
    <article class="col col-lg-9">
        <section class="contact">
            <header>
                <h3>Phone</h3>
            </header>
            <p>
                <span class="label">Main:</span>
                <span>425.555.0100</span>
            </p>
            <p>
                <span class="label">After Hours:</span>
                <span>425.555.0199</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email</h3>
            </header>
            <p>
                <span class="label">Support:</span>
                <span><a href="mailto:Support@example.com">Support@example.com</a></span>
            </p>
            <p>
                <span class="label">Marketing:</span>
                <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
            </p>
            <p>
                <span class="label">General:</span>
                <span><a href="mailto:General@example.com">General@example.com</a></span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Address</h3>
            </header>
            <p>
                One Microsoft Way<br />
                Redmond, WA 98052-6399
            </p>
        </section>
    </article>

    <aside class="col col-lg-3">
        <h3>Aside Title</h3>
        <p>
            Use this area to provide additional information.
        </p>
        <ul class="list-unstyled">
            <li><a href="~/">Home</a></li>
            <li><a href="~/about">About</a></li>
            <li><a href="~/contacts">Contacts</a></li>
        </ul>
    </aside>
</div>
